body{
    background: linear-gradient(#77a5f8 0%,#dfa3ff 100%);
    /* background-color: rgb(14, 161, 161); */
}
nav{
    /* background-color: rgb(132, 214, 214); */
    position: sticky;
}
.info hr{
    border:1px  solid;
    width: 60%;
}

.open{
    text-decoration: none;
    background-color: rgb(132, 167, 6);
    color: gold;
    font-size: large;
    font-weight: bold;
    border-radius: 50%;
}
.open:hover{
    background-color: rgb(140, 207, 15);
    font-weight: bold;
    box-shadow: 0 1px 8px rgb(151, 219, 24);
    transform: scale(1.1);
}
.btn-1{
    margin:0 12px;
    /* font-size: large; */
    font-weight: 500;
    /* border: 1px solid rgb(46, 224, 186); */
    border-radius: 10px;
    transition: .4s;
}
.btn-1:hover{
    background-color: rgb(111, 199, 199);
    font-weight: 400;
    transform: scale(1.1);
}
.btn-2{
    margin-top: 5px;
    border: 1px solid rgb(9, 9, 109);
    border-radius: 10px;
    background-color:rgb(127, 127, 243) ;
    color: azure;
    box-shadow: 0 2px 5px;
}
.left{
    color: aliceblue;
    font-size:2rem ;
    padding: 20vh 5vh;
}
.right{
    position: relative;
    padding: 0px;
    margin: 0;
}
.purple{
    color: rgb(64, 4, 121);
    font-size:2.5rem;
    text-shadow: 0.3rem 0.3rem 0.5rem rgb(35, 198, 248);
    font-family: serif;
}

.iconsmade{
    display: flex;
}
.iconsmade a {
    width: 38px;
    height: 38px;
    background-color: rgb(23, 202, 202);
    margin: 10px 12px;
    box-shadow: 0 0 10px 1px rgb(22, 206, 206);
    text-decoration: none;
    color: black;
    border-radius: 100%;
}

.iconsmade a .bi{
    font-size: 1.5rem;
}
#ro{
    min-height: 300px;
}
#bo{
    border: 3px solid green;
    background-color: wheat;
}
#hi{
    color: white;
}
.backg{
    height: auto;
    width: 100%;
}
.bgg{
    height: 70%;
    width: 100%;
}
.work{

    height: 20vh;
    margin-left: 1%;
    border:1px solid black;
}